*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration:none;
}
html{
    font-size: 7px;
    height: 70%;
}
html::before{
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -2;
    background: linear-gradient(120deg,#e0c3fc 0%,#8ec5fc 100%);/*渐变 */
}
::selection{
    color: #fff;
    background-color: rgb(144,129,241);
}
body{
    width: 84%;
    margin:1% 8% 0% 8%;
}
.head{
    display: flex;
    overflow: hidden;
    position: fixed;
    top: 1%;
    left: 8%;
    right: 8%;
    height: 6rem;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow:0 0 1rem 0.2rem rgb(0 0 0 / 10%);
}
.head .l{
    display: flex;
    justify-content: space-between;
    margin:0.65rem 4rem 0rem 14rem;
    width: 65%;
}
.head a{
    color: rgb(102, 85, 200);
}
.head .l a{
    font-size: 3.2rem;
}
.head .ml{
    display: flex;
    flex-direction: row-reverse;
    width: 12%;
    font-size: 3.3rem;
    margin-top: 0.94rem;
}
.head .mr{
    margin:0.5rem 1.5rem;
    width: 4.5rem;
    height: 4.5rem;
    background-image: url(../主页/zhuye/tp0.png);
    background-size: cover;
}
.head .r{
    width: 9.5%;
    font-size: 1.7rem;
    margin-top: 2.5rem;
}
.dibu{
    margin:5rem 2rem 0rem 2rem;
    padding:2rem;
    height: 20rem;
    background: rgba(255,255,255,60%);
    border-radius: 1rem;
    box-shadow:0 0 1rem 0.2rem rgb(0 0 0 / 10%);
}